<p>quiz works!</p>
<!-- Iterates over the questions and renders them as a list. Depending on the
type of question, render either a true false question or multiple choice question-->

<ul class="list-group">
  <li *ngFor="let question of questions" class="list-group-item">
    <div [ngSwitch]="question.type">
      <app-multiple-choice-question
        [question]="question"
        *ngSwitchCase="'MULTIPLE_CHOICE'">
      </app-multiple-choice-question>
      <br>
      <app-true-false-question
        [question]="question"
        *ngSwitchCase="'TRUE_FALSE'">
      </app-true-false-question>
    </div>
  </li>
</ul>

