/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";

h2,h3,h4{
  color: rebeccapurple;
  font-family: "Courier New";
}

.wbdv-lessons{
  padding-top: 10px;

}
